#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

ul {
  padding: 1rem 0;
}
ul li {
  list-style-type: none;
  text-align: left;
  line-height: 1.666;
}

.card {
  overflow: auto;
  border-radius: 6px;
  box-shadow: 0 4px 20px var(--shadow-color);
  padding: 1rem;

  min-width: 100%;
}
