@font-face {
    font-family: "chirp";
    src: url("fonts/chirp-regular-web.woff") format('woff');
    
}

@font-face {
    font-family: "Chirp";
    src: url("fonts/chirp-bold-web.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Chirp";
    src: url("fonts/chirp-font-boldoblique.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Chirp";
    src: url("fonts/chirp-font-oblique.woff") format('woff');
    font-style: italic;
}

html, body {
    font-family: "Chirp", "Roboto","Helvetica","Arial", sans-serif !important;
    font-Size:16px;
    height: '100vh';
    overflow: hidden;
}

body {
    position: relative;
    width: 100%;
}