.service-box {
  .service-ico {
    .ico-circle {
      padding: 1rem;
      &.ey {
        box-shadow: 0 0 0 0.333rem #e3e3e3;
      }
    }
  }
  .service-content {
    text-align: left;
    padding: 0rem 1.666rem;
    .s-description {
      text-align: left;
      font-weight: bold;
      margin: 0;
    }
  }
}
