.seperator {
  content: '';
  margin: 3rem 0;
  position: relative;
  bottom: 0;
  left: 50%;
  width: 80%; /* Adjust this value to control the length of the line */
  height: 2px; /* Adjust this value to control the thickness of the line */
  background-color: white; /* Adjust this value to control the color of the line */
  transform: translateX(-50%);
}
.comment {
  text-align: left;
  font-family: var(--default-font-family);
  padding: 0 6rem;
}

.comment .user-info::first-letter {
  text-transform: capitalize;
}

.comment .body {
  font-family: var(--default-font-family);
}
.comment > .content > .body-container > .body::first-letter {
  text-transform: uppercase;
}

.comment > .content > .body-container > .body::after {
  content: '.';
}
